body{
	font-family: Arial;
	font-size: 16px;
	margin: 0;
}
img{
	border-radius: 8px;
}
h1{
	color:white;
	margin: 0;
	padding-top: 25px;
	text-align: center;
}
label{
	font-weight: bold;
}
#contenedor{
	background-color: #EFEFE7;
	border-radius: 8px;
	box-shadow: 2px 2px 9px; 
	margin-left: 470px;
	margin-right: 300px;
	height: 200px;
	padding-top: 8px;
	width: 400px;
	text-align: center;
}
#head{
	background-color: black;
	border-radius: 5px;
	height: 100px;
	margin:0;

}
#logo{
	margin: 1;
	text-align: center;
}
#usuario{
	margin-top: 10px;
	border-radius: 6px;
	color: gray;
	width: 250px;
	height: 25px;
}
#password{
	margin-top: 10px;
	color: gray;
	border-radius: 6px;
	width: 250px;
	height: 25px;
}